<div class="card p-4">
    <!-- Filtre -->
    <div class="flex justify-end mb-4">
        <select id="filtre" class="border-2 p-2 rounded-lg">
            <option value="tous">Tous</option>
            <option value="enCours">En cours</option>
            <option value="AVenir">A venir</option>
            <option value="termines">Terminés</option>
        </select>
    </div>

    <!-- Liste des historiques -->
    <div *ngFor="let historique of historiqueEnCours" class="mt-4 p-10 w-full shadow-lg rounded-lg bg-gray-100 dark:bg-black">
        <div class="flex justify-between items-center">
            <div>
                <h3 class="p-card-title text-[#10B981]">{{ historique.marque }} {{ historique.modele }}</h3>
                <p><strong>Immatriculation :</strong> {{ historique.immatriculation }}</p>
                <p><strong>Date de début :</strong> {{ historique.dateDebut | date: 'longDate' }}</p>
                <p *ngIf="historique.statut == 'Terminé'"><strong>Date de fin :</strong> {{ historique.dateFin | date: 'longDate' }}</p>
                <p><strong>Statut :</strong> {{ historique.statut }}</p>
            </div>
            <div class="flex flex-col justify-end items-end gap-4">
                <p-button label="Voir détails" icon="pi pi-info-circle" raised (click)="toggleDetails(historique.id)"></p-button>
                <p-button *ngIf="historique.statut == 'A venir'" label="Décaler le rendez-vous" severity="help" icon="pi pi-forward" outlined (click)="toggleDecalage(historique.id)"></p-button>
                <p-button *ngIf="historique.statut == 'Terminé'" label="Exporter le facture" severity="help" icon="pi pi-receipt" outlined></p-button>
            </div>
        </div>

        <!-- Détails -->
        <div *ngIf="detailsVisible[historique.id]" class="mt-4 p-10 bg-white dark:bg-black shadow rounded-lg flex flex-col lg:flex-row gap-4">
            <!-- Prêt pour traitement -->
            <div class="flex-1 w-full bg-orange-100 p-4 rounded-lg text-center shadow-md">
                <i class="pi pi-check text-yellow-500 text-2xl"></i>
                <h3 class="text-lg font-bold mt-2">Prêt pour traitement</h3>
                <p-card *ngFor="let rdv of getRendezvousByStatut(2)" class="p-2 mt-2">
                    <div *ngFor="let details of rdv.details">
                        <p><strong>{{details.categorie}}</strong></p>
                        <p *ngFor="let outils of details.outils"> ({{outils.unite}}) {{outils.libelle}} - {{outils.prix}}Ar</p>
                    </div>
                    <button pButton class="p-button p-button-text p-button-rounded p-button-sm" (click)="openModalDiscuter('bottomright')" pTooltip="discuter">
                        <i class="pi pi-envelope text-gray-500"></i>
                    </button>
                </p-card>
            </div>

            <!-- En cours -->
            <div class="flex-1 w-full bg-blue-100 p-4 rounded-lg text-center shadow-md">
                <i class="pi pi-spin pi-spinner text-blue-500 text-2xl"></i>
                <h3 class="text-lg font-bold mt-2">En cours</h3>
                <p-card *ngFor="let rdv of getRendezvousByStatut(3)" class="p-2 mt-2">
                    <div *ngFor="let details of rdv.details">
                        <p><strong>{{details.categorie}}</strong></p>
                        <p *ngFor="let outils of details.outils"> ({{outils.unite}}) {{outils.libelle}} - {{outils.prix}}Ar</p>
                    </div>
                    <button pButton class="p-button p-button-text p-button-rounded p-button-sm" (click)="openModalDiscuter('bottomright')" pTooltip="discuter">
                        <i class="pi pi-envelope text-gray-500"></i>
                    </button>
                </p-card>
            </div>

            <!-- Achevé -->
            <div class="flex-1 w-full bg-green-100 p-4 rounded-lg text-center shadow-md">
                <i class="pi pi-check-circle text-green-500 text-2xl"></i>
                <h3 class="text-lg font-bold mt-2">Achevé</h3>
                <p-card *ngFor="let rdv of getRendezvousByStatut(4)" class="p-2 mt-2">
                    <div *ngFor="let details of rdv.details">
                        <p><strong>{{details.categorie}}</strong></p>
                        <p *ngFor="let outils of details.outils"> ({{outils.unite}}) {{outils.libelle}} - {{outils.prix}}Ar</p>
                    </div>
                    <button pButton class="p-button p-button-text p-button-rounded p-button-sm mt-2" (click)="openModalDiscuter('bottomright')" pTooltip="discuter">
                        <i class="pi pi-envelope text-gray-500"></i>
                    </button>
                </p-card>
            </div>
        </div>

        <!-- Décalage rendez-vous -->
        <div *ngIf="decalageVisible[historique.id]" class="mt-4 p-10 bg-white dark:bg-black shadow rounded-lg flex flex-col lg:flex-col gap-4">
            <h3>Décalage de rendez-vous</h3>
            <full-calendar [options]="calendarOptions" class="w-full"></full-calendar>
        </div>
    </div>
</div>

<p-dialog header="Détails" [(visible)]="visibledetails" [position]="positionModal" [modal]="true" >
    <p-accordion *ngIf="selectedRendezvous?.details?.length > 0" [value]="0">
        <p-accordion-panel *ngFor="let detail of selectedRendezvous.details , ; let i = index" [value]="i">
            <p-accordion-header>
                {{ detail.categorie }} - {{ detail.service }} : {{ detail.prix }} Ar
            </p-accordion-header>
            <p-accordion-content>
                <p-card>
                    <p><strong>Outils :</strong></p>
                    <ul>
                        <li *ngFor="let outil of detail.outils">
                            ({{ outil.unite }}) {{ outil.libelle }} - {{ outil.prix }} Ar
                        </li>
                    </ul>
                </p-card>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</p-dialog>

<p-dialog header="Messagerie" [(visible)]="visiblediscuter" [position]="positionModal" [modal]="true" >
    
    <div class="flex flex-col space-y-2 p-2 h-80 overflow-y-auto">
        <!-- Message reçu -->
        <div class="flex items-end space-x-2">
            <div class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-400 text-white font-bold">
                MS
            </div>
            <div class="bg-gray-200 text-gray-800 p-2 rounded-lg max-w-xs">
                Bonjour ! Comment puis-je vous aider ?
            </div>
        </div>

        <!-- Message envoyé -->
        <div class="flex justify-end items-end space-x-2">
            <div class="bg-blue-500 text-white p-2 rounded-lg max-w-xs">
                J'aimerais prendre un rendez-vous.
            </div>
            <div class="w-8 h-8 flex items-center justify-center rounded-full bg-blue-500 text-white font-bold">
                DR
            </div>
        </div>

        <!-- Autre message reçu -->
        <div class="flex items-end space-x-2">
            <div class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-400 text-white font-bold">
                MS
            </div>
            <div class="bg-gray-200 text-gray-800 p-2 rounded-lg max-w-xs">
                D'accord, quelle date vous conviendrait ?
            </div>
        </div>
    </div>


    <div class="flex items-center space-x-2 mt-4">
        <button pButton class="p-button p-button-text p-button-rounded p-button-sm">
            <i class="pi pi-paperclip text-gray-500"></i>
        </button>
        <textarea 
            placeholder="Écrivez un message..." 
            class="flex-1 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        ></textarea>
        <button pButton class="p-button p-button-text p-button-rounded p-button-sm">
            <i class="pi pi-send text-blue-500"></i>
        </button>
    </div>
</p-dialog>

<!-- Modal pour confirmer la demande de rendez-vous -->
<p-dialog header="Confirmer le rendez-vous" [(visible)]="displayConfirmDateModal" [modal]="true" [closable]="true" [style]="{width: '50vw'}">
    <div class="p-fluid">
        <p>Voulez-vous déplacer votre rendez-vous à cette date ?</p>
    </div>
    <div class="p-dialog-footer mt-4 flex-wrap">
        <p-button label="Envoyer" icon="pi pi-check" severity="info" (click)="confirmerDemande()"></p-button>
        <p-button label="Annuler" icon="pi pi-times" severity="danger" (click)="hideConfirmDateModal()" class="p-button-secondary"></p-button>
    </div>
</p-dialog>
